Package: yaksd
Version: 0.3.0
Section: custom
Priority: optional
Architecture: all
Essential: no
Installed-Size: 1024
Depends: libev4, libmariadbclient18, libmariadbclient-dev, libpq-dev
Maintainer: ivan.paez@adlinktech.com
Description: Yaks daemon
